<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomerCatalog.My.MySettings.Server" connectionString="Data Source=DESKTOP-A35LDT9\BOSPONE;Initial Catalog=SIA;Persist Security Info=True;User ID=sa;Password=Matarile-2017"
            providerName="System.Data.SqlClient" />
        <add name="CustomerCatalog.My.MySettings.ServerTester" connectionString="Data Source=INFORMATICA\SQLEXPRESS;Initial Catalog=SIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>